header {
color: rgb(61, 102, 61);
background-color: rgb(221, 238, 221);
padding: 5px;
text-align: center;
font-size: 1.5rem;
border-radius: 15%;
border: 6px solid rgb(29, 84, 187);
box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

main {
    display: flex;
    justify-content: space-between;
}

main aside {
    width: 100%;     
}

main .content {
    width: 100%;
}

@media(max-width: 800px) {
    main {
        flex-direction: column;
    }
}


footer {
    background:  rgb(221, 238, 221);
    border: 6px solid rgb(29, 84, 187);
    color: rgb(61, 102, 61);
    text-align: center;
    padding: 15px 0;
    font-size: 0.8rem;
    font-weight: bold;
    box-shadow: 0 -6px 10px rgba(0, 0, 0, 0.3);
}
