
.form {
    
    padding: 1.2rem;
    
}

.form h2 {
    text-align: center;
    text-decoration:underline
}

.form div{
    margin-bottom: 20px;
    
}


input{
    display: block;
    padding: 15px;
    width: 90%;
    border-radius: 25px;
    border: 2px solid #c5d3b4;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}


.form input:focus {
    box-shadow: 0 0 8px rgba(148, 206, 151, 0.6);
}


button {
    padding: 10px 20px;
    background-color: #007bff;
    justify-content: center;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
        background-color: #1b68b9;
    }
}

input[type="file"] {
    border: none;
  }



 