.noticias .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    padding: 1.2rem;
}

.noticias .flex article {

    width: 100%;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
figure {
    max-width: 30%;
    flex: 0 0 30%;
    margin: 0;
}

@media (max-width: 768px) {
    .noticias .flex article {
        flex-direction: column;
        align-items: center;
    }
    figure {
        max-width: 100%;
    }
}
